body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

p {
    margin: 0;
    position: absolute;
    font: 16px Verdana;
    color: #eee;
    height: 25px;
    top: calc(100vh - 30px);
    text-shadow: 0 0 2px white;
}

p a {
    text-decoration: none;
    color: #aaa;
}

span {
    font-size: 11px;
}

p > a:first-of-type {
    font-size: 20px;
}

#birthdayMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#birthdayWish {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    color: #ffd700; /* Custom color for the wish */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
